---
layout: base
title: Career Fair
---
<div class="startup__mask">
	<img src="/lib/img/crane-side.png" /> <!-- Needs to be in the markup to print. -->
	<h1 class="startup__one">Career<br> Fair</h1>
</div>

<section class="intro">
    <img src="/lib/logos/techatnyu.png" alt="tech@nyu" class="logo" />
    <div class="info">
	    <p class="description">Network with the best and brightest in NYC.</p>
	    <ul>
	         <li>October 21st, 2015</li><li>6-8pm</li><li><a href="https://www.facebook.com/events/757191334407218/">RSVP</a></li><li><a href="https://balloon.io/techatnyuresumedrop" target="_blank">Resume Drop</a></li><br>
	         <li> Work-Bench, 110 Fifth Avenue, Fifth Floor</li><br>
			 <li> New York, New York 10011 </li>
	    </ul>
    </div>
</section>



{{ content }}
